

<div class="card">


    <div class="image">
        <a [routerLink]="['/character-details', character.id]">
            <img [src]="character.image" [alt]="character.image" class="card-img-top">
        </a>
    </div>
    <div class="card-inner">
        <div class="header">
            <a [routerLink]="['/character-details', character.id]" routerLinkActive="router-link-active">
                <h2>{{character.name | slice:0:15}}</h2>
            </a>
            <div class="row" id="text">
                <div>
                    <button class="btn btn-secundary" *ngIf="!character.isLiked && islogged"
                        (click)="like(character)">
                        <span class="material-icons">
                            star_outline
                        </span>
                    </button>
                    <button class="btn btn-secundary" *ngIf="character.isLiked && islogged"
                        (click)="like(character)">
                        <span class="material-icons">
                            star
                        </span>
                    </button>
                </div>
            </div>
            <h4 class="text-muted">{{character.gender}}</h4>
            <small class="text-muted">{{character.created | date}}</small>

        </div>
    </div>
</div>