<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
        <a class="navbar-brand" routerLink="/">API RICKY Y MORTY <span class="text-danger">Rommel Sanzonetti</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/characters-list" routerLinkActive="router-link-active">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li *ngIf="isLogged==true" class="nav-item active">
                    <a class="nav-link" routerLink="/favorite-list" routerLinkActive="router-link-active">Favoritos <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active" *ngIf="!isLogged">
                    <a class="nav-link text-danger" (click)='login()'>Login</a>
                </li>
                <li class="nav-item active" *ngIf="isLogged">
                    <a class="nav-link text-danger" (click)='logout()'>LogOut</a>
                </li>
            </ul>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <input (keyup)="onSearch(inputSearch.value)" type="text" #inputSearch autofocus class="form-control-lg"
                    placeholder="Buscar personaje....">

            </div>
        </div>
    </nav>
</header>