<div class="category-container">
    <div class="icons-container">
        <ul class="icons">
            <li>
                <a routerLink="/characters-list">
                    <div class="iconletter">Estado</div>
                </a>
            </li>
            <li>
                <a routerLink="/characters-list">
                    <div class="iconletter">Especie</div>
                </a>
            </li>
            <li>
                <a routerLink="/characters-list">

                    <div class="iconletter">Genero</div>
                </a>
            </li>

        </ul>
    </div>
    <a routerLink='/characters-list'>
        <div class="texto">
            <p>Ver todas las categorías</p>
        </div>
    </a>
</div>

<div class="sticky-top">
    <div class="list-group">

        
        
        <a routerLink="/" (click)="filterby('Male')" class="list-group-item list-group-item-action">
            Hombre
        </a>
        <a routerLink="/" (click)="filterby('Female')" class="list-group-item list-group-item-action">
            Mujer
        </a>
        <a routerLink="/" (click)='filterby("unknown")' class="list-group-item list-group-item-action">
            Genero Desconocido
        </a>
        <a routerLink="/" (click)="filterby('Alive')" class="list-group-item list-group-item-action">
            Vivo
        </a>
        <a routerLink="/" (click)='filterby("Dead")' class="list-group-item list-group-item-action">
            Muerto
        </a>
        <a routerLink="/" (click)='filterby("unknown")' class="list-group-item list-group-item-action">
            Desaparecido
        </a>

        <a routerLink="/" class="list-group-item list-group-item-action">
            Especie
            <input #especie type="text" value="especie">
            <button (click)="filterby(especie.value)">Buscar especie</button>
        </a>
        <!-- <a routerLink="/" class="list-group-item list-group-item-action">
            <button (click)='getCharactersByQuery()'>VER TODAS LAS CATEGORIAS</button> 
        </a> -->
    </div>
</div>


<app-cards-list *ngIf="isFilter" [option]='option' [characters]="characters"></app-cards-list>
<app-cards-list *ngIf="!isFilter" [characters]="characters"></app-cards-list>
