<div class="container">
    <!-- <div *ngIf="option!=''" infinite-scroll (scrolled)="onScrollDown()" class="row"> -->
    <div   class="row">
        <div *ngFor="let character of characters; let i=index" class="col-xs-12 col-sm-6 col-md-4">

            <app-character-card [character]='character'></app-character-card>
        </div>

        <div *ngIf="characters.length<=0" class="col-xs-12 col-sm-12 col-md-12 mt-5 container-notFound">
            <p>No se encontraron resultados</p>
        </div>
    </div>
    <!-- <div *ngIf="option==''" infinite-scroll (scrolled)="onScrollDown2(option)" class="row">
        <div *ngFor="let character of characters; let i=index" class="col-xs-12 col-sm-6 col-md-4">
    
            <app-character-card [character]='character'></app-character-card>
        </div>
    
        <div *ngIf="characters.length<=0" class="col-xs-12 col-sm-12 col-md-12 mt-5 container-notFound">
            <p>No se encontraron resultados</p>
        </div>
    </div> -->
</div>

<div class="container next justify-content-center">
    <a  (click)="otherPage()" class="next-pag list-group-item list-group-item-action" >Next</a>
</div>