ul{
    list-style: none;
    // background-color: yellow;
    
        display: flex;
    li{
        margin-left: 40px;
        
            
                p{
                font-style: normal;
                font-size: 20px;
                text-decoration: none;
                color:black
                
                }
            }
        
}