<button (click)='login()'>Login</button>
<button (click)='logout()'>LogOut</button>
<div infinite-scroll (scrolled)="onScrollDown()" class="row">
    <div *ngFor="let character of characters" class="col-xs-12 col-sm-6 col-md-4">

        <div class="card">


            <div class="image">
                <a [routerLink]="['/character-details', character.id]">
                    <img [src]="character.image" [alt]="character.image" class="card-img-top">
                </a>
            </div>
            <div class="card-inner">
                <div class="header">
                    <a [routerLink]="['/character-details', character.id]" routerLinkActive="router-link-active">
                        <h2>{{character.name | slice:0:15}}</h2>
                    </a>
                    <!-- <div class="row" id="text">
                        <div>
                            <mat-icon (click)="like(character)" *ngIf="!character.isLiked" aria-hidden="false">
                                star_outline</mat-icon>
                            <mat-icon (click)="like(character)" *ngIf="character.isLiked" aria-hidden="false">star
                            </mat-icon>
                        </div>
                    </div> -->
                    <h4 class="text-muted">{{character.gender}}</h4>
                    <small class="text-muted">{{character.created | date}}</small>

                </div>
            </div>
        </div>
    </div>

    <!-- <div *ngIf="characters.length<=0" class="col-xs-12 col-sm-12 col-md-12 mt-5 container-notFound">
        <p>No results.......</p>
    </div> -->
</div>