<!-- <app-category-container></app-category-container> -->

<div class="category-container">
    <div class="icons-container">
        <ul class="icons">
            <li>
                <a routerLink="/characters-list" >
                    <div class="iconletter">Estado</div>
                </a>
            </li>
            <li>
                <a routerLink="/characters-list" >
                    <div class="iconletter">Especie</div>
                </a>
            </li>
            <li>
                <a routerLink="/characters-list">

                    <div class="iconletter">Genero</div>
                </a>
            </li>

        </ul>
    </div>
    <a routerLink='/characters-list'>
        <div class="texto">
            <p>Ver todas las categorías</p>
        </div>
    </a>
</div>

<div class="sticky-top">
    <div class="list-group">
        
        <a routerLink="/characters-list/"  class="list-group-item list-group-item-action">
            Genero
        </a>
        <a routerLink="/characters-list/" (click)="filterby('Male')" class="list-group-item list-group-item-action">
            Hombre
        </a>
        <a routerLink="/characters-list/" (click)="filterby('Female')" class="list-group-item list-group-item-action">
            Mujer
        </a>
        <a routerLink="/characters-list/" (click)='filterby("unknown")' class="list-group-item list-group-item-action">
           Genero Desconocido
        </a>
        <a routerLink="/characters-list/" class="list-group-item list-group-item-action">
            Estado
        </a>
        <a routerLink="/characters-list/" (click)="filterby('Alive')" class="list-group-item list-group-item-action">
            Vivo
        </a>
        <a routerLink="/characters-list/" (click)='filterby("Dead")' class="list-group-item list-group-item-action">
            Muerto
        </a>
        <a routerLink="/characters-list/" (click)='filterby("unknown")' class="list-group-item list-group-item-action">
            Desaparecido
        </a>

        <a routerLink="/characters-list/" class="list-group-item list-group-item-action">
            Especie
            <input #especie type="text" value="especie">
            <button (click)="filterby(especie.value)">Buscar especie</button>
        </a>
    </div>
</div>

<div class="container">
    <div infinite-scroll (scrolled)="onScrollDown()" class="row">
        <div *ngFor="let character of characters; let i=index" class="col-xs-12 col-sm-6 col-md-4">

            <div class="card">


                <div class="image">
                    <a [routerLink]="['/character-details', character.id]">
                        <img [src]="character.image" [alt]="character.image" class="card-img-top">
                    </a>
                </div>
                <div class="card-inner">
                    <div class="header">
                        <a [routerLink]="['/character-details', character.id]" routerLinkActive="router-link-active">
                            <h2>{{character.name | slice:0:15}}</h2>
                        </a>
                        <div class="row" id="text">
                            <div>
                                <button class="btn btn-secundary" *ngIf="!characters[i].isLiked && islogged" (click)="like(characters[i])"> 
                                    <span class="material-icons">
                                        star_outline
                                    </span>
                                </button>
                                <button class="btn btn-secundary" *ngIf="characters[i].isLiked && islogged" (click)="like(characters[i])">
                                    <span class="material-icons">
                                        star
                                    </span>
                                </button>
                            </div>
                        </div>
                        <h4 class="text-muted">{{character.gender}}</h4>
                        <small class="text-muted">{{character.created | date}}</small>

                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="characters.length<=0" class="col-xs-12 col-sm-12 col-md-12 mt-5 container-notFound">
            <p>No se encontraron resultados</p>
        </div>
    </div>
</div>